.dataInputs {
	display:block;
	position: relative;
	float: left;
	border: solid 1px #c84;
	width: 30%;
}

#mySVG {
	display: block;
	position: relative;
	float: left;

}



.chart {
    shape-rendering: crispEdges;
    border: solid 1px #aaa;


}

.mini text {
    font: 9px sans-serif;
}


.main text {
    font: 12px sans-serif;
}

.rect1 text{

    font: 9px sans-serif;
    fill: none;
    stroke: black;

}

.miniItem {
    fill: #59e95e;
    fill-opacity: .7;
    stroke: black;
    stroke-width: .5;
}

.miniItem0{
    fill: darksalmon;
    stroke: black;
    stroke-width: 2;
}

.miniItem1 {
    fill: darkolivegreen;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2
}

.miniItem2 {
    fill: slategray;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem3 {
    fill: #59e95e;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem4 {
    fill: slategray;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem5 {
    fill: #e94cbb;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem6 {
    fill: #59e95e;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem7 {
    fill: #2e907f;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem8 {
    fill: #b077e9;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem9 {
    fill: #64326b;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem10 {
    fill: darksalmon;
    stroke: black;
    stroke-width: 2;
}

.miniItem11{
    fill: darkolivegreen;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2
}

.miniItem12 {
    fill: #e9e245;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem13 {
    fill: #59e95e;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem14 {
    fill: #905113;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem15 {
    fill: #e94cbb;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem16 {
    fill: #59e95e;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem17 {
    fill: #319043;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem18 {
    fill: #b077e9;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem19 {
    fill: #64326b;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}
.miniItem20 {
    fill: #64326b;
    fill-opacity: .7;
    stroke: black;
    stroke-width: 2;
}


.active{
    stroke: yellow;
    stroke-width:2;
}

.brush .selection {
    fill: none;

}


/*svg {
    border: solid 1px #aaa;

} */
